---
import Layout from '../layouts/Layout.astro';
import VueInput from '../components/VueInput.vue';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			<strong>Instructions:</strong> This is a simple example of how to use Vue components in Astro. The Vue component below is a simple input field that updates the value of the input field in real-time. The value of the input field is then displayed below the input field.
		</p>
		<ul role="list" class="link-card-grid">
			<li>
				<label for="vueInput"> Vue Input </label>
				<VueInput client:idle />
			</li>
		</ul>
	</main>
</Layout>
